@page
@model Gym_Project.Pages.homepage_3Model
@{
    ViewData["Title"] = "Home page";
    Layout = "_layout2"; 

}

<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h6>Welcome, Captain!</h6>
                                    <h2>The time table of the gym </h2>
                                    <h2>The default times are mixed</h2>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="schedule-table">
                                        <meta charset="UTF-8">
                                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                        
                                       <form method="post"> 
                                        <table class="table bg-white">
                                            <thead>
                                                <tr>
                                                    <th>Day</th>
                                                    <th>Holiday Or Not</th>
                                                    <th>Working hours from </th>
                                                    <th>Working hours to </th>
                                                    <th>Women slots from </th>
                                                    <th>Women slots to </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                    @for(int i = 0; i < Model.dt_Time_slots.Rows.Count; i++)
                                                    {
                                                        <tr>

                                                        <input name="day" type="hidden" value="@Model.dt_Time_slots.Rows[i][0]"></input>
                                                        <td class="day">@Model.dt_Time_slots.Rows[i][0]</td>
                                                        <td class="inactive">
                                                            <input style="font-size:60px;" name="holiday_temp" type="hidden" value="@Model.dt_Time_slots.Rows[i][2]" >

                                                            <input name="holiday" type="text" value="@Model.dt_Time_slots.Rows[i][2]" disabled>
                                                            <div class="hover">
                                                            </div>
                                                        </td>


                                                        <td class="inactive">

                                                            <input name="wh_from_temp" type="hidden" value=" @Model.dt_Time_slots.Rows[i][3] " >
                                                            <input name="wh_from" type="text" value=" @Model.dt_Time_slots.Rows[i][3] " disabled>                                                            <div class="hover">
                                                            </div>
                                                        </td>
                                                        <td class="inactive">

                                                            <input name="wh_to_temp" type="hidden" value="@Model.dt_Time_slots.Rows[i][4]" >
                                                            <input name="wh_to" type="text" value="@Model.dt_Time_slots.Rows[i][4]" disabled>                                                            <div class="hover">
                                                            </div>
                                                        </td>
                                                        <td class="inactive">

                                                            <input name="w_slots_from_temp" type="hidden" value="@Model.dt_Time_slots.Rows[i][6] ">
                                                            <input name="w_slots_from" type="text" value="@Model.dt_Time_slots.Rows[i][6] " disabled>                                                            <div class="hover">
                                                            </div>
                                                        </td>
                                                        <td class="inactive">
                                                            
                                                            <input name= "w_slots_to_temp" type="hidden" value=" @Model.dt_Time_slots.Rows[i][7]" >      
                                                            <input name= "w_slots_to" type="text" value=" @Model.dt_Time_slots.Rows[i][7]" disabled>                                                            <div class="hover">
                                                            </div>
                                                        </td>
                                                    </tr>

                                                }
                                              
                                            </tbody>
                                        </table>
                                        <button12 id="edit-button" >Edit Schedule</button12>
                                            <input type="hidden" name="capname" value="@Model.username_coming_from_login"></input>

                                            <button onclick="Edits_saved()" class="btn btn-primary" asp-page-handler="saveschedule">Save</button>
                                        </form>
                                        <script>
                                            function toggleEdit() {
                                                // Get all the input elements
                                                var inputs = document.getElementsByTagName("input");

                                                // Get the edit button
                                                var editButton = document.getElementById("edit-btn");

                                                if (editButton.innerHTML === "Edit Schedule") {
                                                    // Change button text to "Save Changes"
                                                    editButton.innerHTML = "Save Changes";

                                                    // Enable all input fields
                                                    for (var i = 0; i < inputs.length; i++) {
                                                        inputs[i].disabled = false;
                                                    }
                                                } else {
                                                    // Change button text back to "Edit Schedule"
                                                    editButton.innerHTML = "Edit Schedule";

                                                    // Disable all input fields
                                                    //for (var i = 0; i < inputs.length; i++) {
                                                    //    inputs[i].disabled = true;
                                                    //}
                                                }
                                            }
                                            var editButton = document.getElementById("edit-button");
                                            var inputs = document.getElementsByTagName("input");

                                            editButton.addEventListener("click", function () {
                                                for (var i = 0; i < inputs.length; i++) {
                                                    inputs[i].disabled = false;
                                                }
                                            });
                                            function stopEditing() {
                                                // Set the "disabled" attribute of all input fields to true
                                                var inputFields = document.getElementsByTagName("input");
                                                //for (var i = 0; i < inputFields.length; i++) {
                                                //    inputFields[i].disabled = true;
                                                //}

                                                // Hide the "Stop Editing" button and show the "Start Editing" button
                                                var stopEditingBtn = document.getElementById("stop-editing-btn");
                                                var startEditingBtn = document.getElementById("start-editing-btn");
                                                stopEditingBtn.style.display = "none";
                                                startEditingBtn.style.display = "inline-block";
                                            }
                                        </script>
                                        <script>
                                            function updateSchedule() {
                                                // Get the values from the input fields
                                                var day = document.getElementById("day").value;
                                                var twel = document.getElementById("twel").value;
                                                var three = document.getElementById("three").value;
                                                var five = document.getElementById("five").value;
                                                var six = document.getElementById("six").value;
                                                var eight = document.getElementById("eight").value;

                                                // Update the schedule table
                                                document.getElementById("schedule").innerHTML =
                                                    "<tr><td class=\"day\">" + day + "</td><td>" + twel + "</td><td>" + three + "</td><td>" + five + "</td><td>" + six + "</td><td class=\"last\">" + eight + "</td></tr>";
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="about" class="about section">
    <div class="container">
        <h6 style="font-size:40px; margin-left:400px; margin-bottom:30px; margin-top:-50px">The plans available</h6>
        <div class="card-container">
            @for(int i = 0; i < Model.dt_Plans.Rows.Count; i++)
            {
                <form method="post">
                <div class="card" id="card">
                    <h6>@Model.dt_Plans.Rows[i][1] plan</h6>
                    <img src="images/vec1.jpg" width="1000" height="250" alt="Image">
                    <p><input style="width:80px; margin-left:-40px;" id="@i" type="number" value="@Model.dt_Plans.Rows[i][2]" name="vs" disabled> EGP/Month for students </p>
                    <p><input style="width:80px; margin-left:-40px;" id="@i worker" type="number" value="@Model.dt_Plans.Rows[i][3]" name="vw" disabled> EGP/Month for worksers </p>
                    <input type="hidden"  value="@Model.dt_Plans.Rows[i][0]" name="n" >
                        <input type="hidden" value="@Model.username_coming_from_login" name="cname">
                    <div class="border-first-button">
                            <button style="background-color:green;   border: 1px solid green !important;" onclick="Edits_saved()" asp-page-handler="saveplan">save</button>
                    </div>                <div class="border-first-button">
                        <buttonn id="start-editing-btn" onclick="startEditing('@i') ;startEditingWorker(@i) ">Edit</buttonn>
                    </div>
                </div>
                </form>
            }
        </div>
    </div>
</div>

<script>
    
    function startEditing(name) {
        var input = document.getElementById(name);
        input.disabled = false;
        input.focus();

        //input.addEventListener('blur', function () {
        //    input.disabled = true;
        //});
    }
    function startEditingWorker(name) {
       
        var input = document.getElementById(name + ' worker');
        input.disabled = false;
        input.focus();

        //input.addEventListener('blur', function () {
        //    input.disabled = true;
        //});

    }
    

</script>


<div id="services" class="services section">
    <div class="container">
        <div class="feedback-form">
            <form method="post">
                <div class="feedback-question">
                    <label for="facilities">Request type</label>
                    <div class="dropdown">
                        <button class="dropbtn" AutoPostBack="false" onclick="showDropdown(event)">Select Type</button>
                        <div class="dropdown-content" id="myDropdown" >
                            <a href="#" onclick="selectType(event, 'adminstrative')">admistrative </a>
                            
                            <a href="#" onclick="selectType(event, 'financial')">Financial</a>
                        </div>
                    </div>
                    <input type="text" id="maintenance-type" name="maintenance-type" readonly>


                    <script>
                        function showDropdown(event) {
                            event.preventDefault();
                            var dropdown = document.getElementById("myDropdown");
                            if (dropdown.style.display === "block") {
                                dropdown.style.display = "none";
                            } else {
                                dropdown.style.display = "block";
                            }
                        }

                        function selectType(event, type) {
                            event.preventDefault();
                            document.getElementById("maintenance-type").value = type;
                            showDropdown(event);
                        }

                        // Close the dropdown if the user clicks outside of it
                        window.onclick = function (event) {
                            if (!event.target.matches('.dropbtn')) {
                                var dropdowns = document.getElementsByClassName("dropdown-content");
                                for (var i = 0; i < dropdowns.length; i++) {
                                    var openDropdown = dropdowns[i];
                                    if (openDropdown.classList.contains('show')) {
                                        openDropdown.classList.remove('show');
                                    }
                                }
                            }
                        }
                    </script>

                </div>
                <div class="feedback-comment">
                    <label for="comment">Request Comment:</label>
                    <textarea id="comment" name="comment" ></textarea>
                </div>
                <div class="feedback-submit">
                    <input type="hidden" name ="un" value="@Model.username_coming_from_login"></input>
                    <button href="#" class="button" onclick="myFunction()" asp-page-handler="submitrequest">
                        <span class="button_lg">
                            <span class="button_sl"></span>
                            <span class="button_text">Submit</span>
                        </span>
                    </button>
                </div>
            </form>
        </div>
        <script>
            function Edits_saved() {
                alert("Your edits is saved");
            }
        </script>

        <script>
            function myFunction() {
                alert("Your request is sent succesfully ");
            }
        </script>

        <script>
            // select all the stars and the comment input
            const stars = document.querySelectorAll('.rating-star');
            const commentInput = document.querySelector('.comment-input');

            // initialize variables to keep track of selected ratings
            let gymRating = 0;
            let captainRating = 0;

            // add event listeners to all the stars
            stars.forEach((star) => {
                star.addEventListener('click', () => {
                    // get the rating value from the star's data attribute
                    const rating = star.getAttribute('data-rating');
                    // get the question type from the star's data attribute
                    const questionType = star.getAttribute('data-question-type');
                    // if the star is already active, remove the active class and reset the rating variable
                    if (star.classList.contains('active')) {
                        star.classList.remove('active');
                        if (questionType === 'gym') {
                            gymRating = 0;
                        } else if (questionType === 'captain') {
                            captainRating = 0;
                        }
                    } else {
                        // if the star is not already active, add the active class and set the rating variable
                        star.classList.add('active');
                        if (questionType === 'gym') {
                            gymRating = rating;
                            // remove active class from all other gym stars
                            const otherGymStars = document.querySelectorAll('[data-question-type="gym"]:not([data-rating="' + rating + '"])');
                            otherGymStars.forEach((otherStar) => {
                                otherStar.classList.remove('active');
                            });
                        } else if (questionType === 'captain') {
                            captainRating = rating;
                            // remove active class from all other captain stars
                            const otherCaptainStars = document.querySelectorAll('[data-question-type="captain"]:not([data-rating="' + rating + '"])');
                            otherCaptainStars.forEach((otherStar) => {
                                otherStar.classList.remove('active');
                            });
                        }
                    }
                });
            });

            // add event listener to the comment input
            commentInput.addEventListener('input', () => {
                // get the comment value from the input
                const comment = commentInput.value;
                // set the comment variable to the comment value
                commentInput.setAttribute('data-comment', comment);
            });

            // add event listener to the submit button
            const submitButton = document.querySelector('.submit-button');
            submitButton.addEventListener('click', () => {
                // check that both ratings have been selected
                if (gymRating === 0 || captainRating === 0) {
                    alert('Please rate both gym facilities and captains.');
                } else {
                    // get the comment value and log the feedback
                    const comment = commentInput.getAttribute('data-comment');
                    console.log(`Gym facilities rating: ${gymRating}, Captains rating: ${captainRating}, Comment: ${comment}`);
                }
            });

        </script>
    </div>
</div>


<div id="free-quote" class="our-porto section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <h6 style="font-size: 50px; color: #fff; margin-bottom: -30px;">Equipment</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="loop owl-carousel">
                @for (int i = 0; i < @Model.dt_for_machines.Rows.Count; i++)
                {
                    <div class="item">
                        <a>
                            <div class="portfolio-item">
                                <div class="thumb">
                                    <img src="images/@Model.dt_for_machines.Rows[i][3]" style="width: 223px; height: 200px;" alt="">
                                </div>
                                <div class="down-content">
                                    <form method="post">

                                    <h4>NO:</h4> <span>@Model.dt_for_machines.Rows[i][0]</span>
                                    <h4>Muscles:</h4>
                                    <p>
                                            <input name="muscles" style="width: 180px; position: center;" class="editable-input" value="@Model.dt_for_machines.Rows[i][7]" disabled>
                                    </p>
                                    <h4>Condition:</h4> <input name="condition" type="number" style="width: 180px; position: center;" class="editable-input1" value="@Model.dt_for_machines.Rows[i][4]" disabled>
                                        <input type="hidden" name="un" value="@Model.username_coming_from_login">
                                        <div class="border-first-button">
                                            <input type="hidden" name="machineno" value="@Model.dt_for_machines.Rows[i][0]"></input>
                                            <button asp-page-handler="deletemachine">Delete</button>
                                            <button style="  background-color: #315cfd;  padding: 5px 110px; color: #fff !important; margin-top: 20px;margin-left: 10px; border: 1px solid #315cfd !important; border-radius: 23px;" type="button" class="edit-button" onclick="enableEditing(this)">Edit</button>
                                            <button style="  background-color: #315cfd;  padding: 5px 110px; color: #fff !important; margin-top: 20px;margin-left: 10px; border: 1px solid #315cfd !important; border-radius: 23px;"  asp-page-handler="savemachines">Save </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function enableEditing(button) {
        var container = button.closest(".item");
        var inputField = container.querySelector(".editable-input");
        inputField.disabled = false;
        var container1 = button.closest(".item");
        var inputField1 = container.querySelector(".editable-input1");
        inputField1.disabled = false;


    }
</script>


<div id="portfolio" class="our-portfolio section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                    <h6 style="font-size:50px; color:#fff">Feedbacks</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="loop owl-carousel">
                @for (int i = 0; i < Model.dt.Rows.Count; i++)
                {
                    <div class="item">
                        <div class="portfolio-item">
                            <div class="thumb">
                                <h6 style="font-size:30px; color:#fff">@Model.dt.Rows[i][0]</h6>
                            </div>
                            <div class="down-content">
                                <h4>How do you rate the gym facilities?</h4>
                                <div class="circle-container">
                                    <div class="circle">@Model.dt.Rows[i][1]</div>
                                </div>
                                <h4>How do you rate the captains?</h4>
                                <div class="circle-container">
                                    <div class="circle">@Model.dt.Rows[i][2]</div>
                                </div>
                                <h4>Comment:</h4>
                                <span>@Model.dt.Rows[i][3]</span>


                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

</div>
